.containerimage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 16px 0 50px;
}

.cardimage {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 230px;
    gap: 16px;
    box-shadow: 0px 0px 4px 0px var(--color-4);
    padding: 8px;
    background-color: #373dff12;
}

.imagecontent {

    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 165px; */
    position: relative;
    border: 2px solid var(--color-4);
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
}



.overlaycard {
    position: inherit;
    width: 30%;
    right: 0;
    z-index: 1;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0));
}


.cardicon {
    position: absolute;
    right: -60%;
    top: -100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.cardimage:hover .overlaycard {
    position: absolute;
}

.cardimage:hover .cardicon {
    right: 6%;
    top: 10%;
    z-index: 2;
}

.image {
    width: 100%;
}

.image img {
    object-fit: cover;
    overflow: hidden;
    transition: 4s ease-in-out;
    width: 100%;
}

.image:hover img,
.overlaycard:hover img {
    transform: translateY(calc(-100% + 165px));
    transition: 6s ease;
}

.projectContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: bold;
    padding: 0 0 0 8px;
    font-size: 20px;
}

.projectContent p {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}

.gallary {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.over {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: #13042abd;
    display: flex;
    align-items: center;
    justify-content: center;
}



.closeimage {
    position: absolute;
    top: -16px;
    right: -16px;
    width: 32px;
    cursor: pointer;
    z-index: 100;
}

.closeimage img {
    width: 100%;
}

.imageslider {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 100%;
    height: 100%;
}

.imageslider img {
    width: 100%;
    /* height: 100%; */
}

.catrgories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 32px 0 50px;
    font-size: 18px;
}

.catrgory {
    padding: 6px 16px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid var(--color-4);
    letter-spacing: 1.2px;
    background-color: #833dec45;
}

.categoryactiv,
.catrgory:hover {
    background: linear-gradient(120deg, var(--color-4), var(--color-3));
}

.btnproject {
    margin: 16px 40px 32px;
    width: 200px;
    height: 40px;
    transition: all 0.5s;
}

.btnproject a {
    padding: 6px 16px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid var(--color-4);
    letter-spacing: 1.2px;
    background-color: #833dec45;
    width: 200px;
    height: 40px;
    text-align: center;
    transition: all 0.5s;
}

.btnproject .viewall {
    display: none;
}

.btnproject .LastProject {
    display: inline-table;
}

.btnproject:hover .viewall {
    display: inline-table;
}

.btnproject:hover .LastProject {
    display: none;
}


.btnproject .LastProject:hover,
.btnproject .viewall:hover {
    background: linear-gradient(120deg, var(--color-4), var(--color-3));
}




.carousel {
    position: absolute !important;
    top: 0;
    left: 0;
}


.carousel .thumbs-wrapper {
    position: fixed;
    bottom: 0;
}

.carousel .control-dots {
    display: none;
}

.boxcontainer {
    position: relative;
    width: 75%;
    height: 70%;
    z-index: 20;
    /* background-color: white; */
    overflow: scroll;
    margin-top: -100px;

}

.carousel .thumb {
    width: 150px !important;
    height: 120px !important;
}

.control-dots {
    position: fixed !important;
    width: 100% !important;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
    border: 3px solid var(--color-3) !important;
}