@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-bg: #1f1f38;
    --color-1: #833dec;
    --color-4: #975cf0;
    --color-2: #dcc2ff;
    --color-3: #ff37ffb5;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --color-gray: #999;
    --color-dark: #000;



    --shadow: 0px 13px 13px rgba(0, 0, 0, 0.6);

    --transition: all 400ms ease;
}

html {
    scroll-behavior: smooth;

}

body {
    background: url("https://uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png");
    background-color: #444158;
    position: relative;
    overflow-x: hidden;
    -webkit-overflow-x: hidden;
    color: white;
}

.arabFont {
    font-family: 'Noto Nastaliq Urdu', serif;
    /* font-family: 'Roboto', sans-serif; */
}

.enFont {
    font-family: SuperMario !important;
}

.containar {
    width: 1300px;
    margin: 0 auto;
}


::-webkit-scrollbar {
    display: none;
}


a {
    color: var(--color-primary);
    font-size: 1.4rem;
    transition: var(--transition);
}

a:hover {
    color: var(--color-bg-variant);
}


.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-dark);
    color: var(--color-white);
    border-color: transparent;
}

/* ===========ICON STYLES\===================== */
.icon {
    font-size: 1.8rem;
}

.name {
    font-size: 1.2em !important;
}


@font-face {
    font-family: "SuperMario";
    src: url(/Fonts/Mario/SuperMario256.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.overflow-hidden-web {
    overflow: hidden;
    -webkit-overflow: hidden;
}

.message::after {
    content: " ";
    width: 10px;
    height: 10px;
    background: #292D44;
    position: absolute;
    bottom: -10px;
    right: 0;
    border-radius: 0 0 0 100%;
}

#repulse-div {
    -webkit-appearance: none;
    appearance: none;
    -webkit-filter: drop-shadow(0 0 5rem #292D44);
    filter: drop-shadow(0 0 5rem #292D44);
}

#repulse-div>h1 {
    -webkit-filter: drop-shadow(-4rem 0rem 10rem var(--color-3));
    filter: drop-shadow(-4rem 0rem 10rem var(--color-3));
}

#journey-scroll::-webkit-scrollbar {
    display: none;
}

#journey-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.arrowpath,
polyline {
    fill: none;
    stroke: #515152;
    stroke-width: 2;
}

.arrowpath {
    stroke-dasharray: 11, 5;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.blob {
    animation: morph 3.6s linear infinite;
    background: #292D44;
    border-collapse: separate;
    background-size: cover;
    background-position: center;
    outline: 1px solid transparent;
}

@keyframes morph {

    0%,
    100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
        -webkit-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
        -moz-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }

    34% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
        -webkit-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
        -moz-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }

    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        -webkit-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        -moz-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}

.bounce {
    transition: all 0.3s ease-out;
}

.bounce:hover {
    display: inline-block;
    animation: rubberband 0.8s ease-out;
    color: #cbbde5;
}

@keyframes rubberband {
    0% {
        transform: scaleX(1);
    }

    40% {
        transform: scaleX(1.12) scaleY(0.75);
    }

    55% {
        transform: scaleX(0.85) scaleY(1);
    }

    65% {
        transform: scaleX(1.09) scaleY(0.85);
    }

    75% {
        transform: scaleX(0.9) scaleY(1);
    }

    90% {
        transform: scaleX(1.05) scaleY(0.95);
    }

    100% {
        transform: scaleX(1) scaleY(1);
    }
}

@media only screen and (min-width: 600px) {
    .drop-shadow-div {
        -webkit-appearance: none;
        appearance: none;
        -webkit-filter: drop-shadow(0 0 1.5rem var(--color-2));
        filter: drop-shadow(0 0 1.5rem var(--color-2));
    }
}

.loader {
    width: 100px;
    height: 100px;
    border: 5px solid #ecfdf4;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid;
    border-color: #cbbde5 transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.arabFontsiz {
    font-size: 22px;
    line-height: 30px;
}

.blur {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    filter: blur(120px);
    z-index: -1;
}

.homeblur {
    top: 10%;
    left: 20%;
    background-color: var(--color-3);
}

.homeblur2 {
    top: 50%;
    left: 80%;
    background-color: var(--color-3);
}

.aboutblur {
    top: 30%;
    left: 10%;
    background-color: var(--color-4);
}


.blurskills {
    top: 40%;
    left: 10%;
    background-color: var(--color-4);
}

.blurskills2 {
    top: 50%;
    left: 80%;
    background-color: var(--color-3);
}

.blurcontant {
    top: 65%;
    left: 65%;
    background-color: var(--color-3);
}

.blurcontant2 {
    top: 15%;
    left: 15%;
    background-color: var(--color-4);
}


.dirction {
    direction: ltr;
}

.skillsborder {
    border-left: 4px solid var(--color-2);
    border-right: 4px solid var(--color-2);
}

label {
    font-weight: bold;
}

input,
textarea {
    height: 45px;
    border-radius: 8px;
    margin-top: 8px;
    background-color: var(--color-2);
}

input::placeholder,
textarea::placeholder {
    color: rgb(92, 92, 92);
    font-size: 18px;
}

textarea {
    height: 140px;
}

.btn {
    width: 220px;
    font-weight: bold;
}

.btn:hover {
    background-color: var(--color-1);
}

.formamrgn {

    gap: 50px;
    margin-bottom: 100px;
}

/* =====================MEDIA QUERIES FOR MEDIUM SCREENS================================ */
@media screen and (max-width: 1024px) {
    .containar {
        width: 900px;
    }

    .skillsborder {
        border: none;
    }


}


@media screen and (max-width: 768px) {
    .containar {
        width: 660px;
    }

    .name {
        font-size: 0.8em !important;
    }

    .who {
        font-size: 0.5em;
    }

    .HeroParticles {
        min-height: 500px;
    }

    .arabFontsiz {
        font-size: 18px;
    }

    .heroblur {
        top: 30%;
        right: 20%;
        filter: blur(100px);
        background-color: var(--color-bg);
    }

    .formamrgn {
        margin-bottom: 80px;

    }
}

@media screen and (max-width: 500px) {
    .containar {
        width: 100%;
    }

    #hero {
        height: 80vh;
    }


    input::placeholder,
    textarea::placeholder {
        color: rgb(92, 92, 92);
        font-size: 16px;
    }

    .formamrgn {
        margin-bottom: 16px;
        gap: 8px;

    }

    .btn {
        font-weight: normal;
    }

}